
<h1>
    {{ ( usuario.id )? 'Editar' : 'Nuevo' }}
    Usuario
    <small>{{ usuario.nombre }}</small> 
</h1>

<div fxLayout="row"
     fxLayoutGap="40px"
     fxLayout.xs="column">

    <div fxFlex="50" fxLayout="column">
        
        <p>
            <mat-form-field>
                <mat-label>Nombre</mat-label>
                <input matInput
                       type="text"
                       [(ngModel)]="usuario.nombre"
                       required>
            </mat-form-field>
        </p>
        <p>

            <mat-form-field>
                <mat-label>Apellido</mat-label>
                <input matInput
                       type="text"
                       [(ngModel)]="usuario.apellido"
                       required>
            </mat-form-field>
        </p>

        <p>

            <mat-form-field>
                <mat-label>Email</mat-label>
                <input matInput
                       type="email"
                       placeholder="pat@example.com"
                       [(ngModel)]="usuario.email"
                       required>
                       <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
            </mat-form-field>
        </p>
            

        <br>


        <div fxLayout>
            <button mat-raised-button 
                    color="primary"
                    (click)="guardar()">
                <mat-icon>edit</mat-icon>
                {{ ( usuario.id )? 'Actualizar' : 'Crear' }}
            </button>
        
            <span class="spacer"></span>

            <button *ngIf="usuario.id"
                    mat-raised-button
                    (click)="borrarUsuario()"
                    color="warn">
                <mat-icon>remove</mat-icon>
                Borrar
            </button>
        </div>


    </div>

</div>